.container {
  display: grid;
  grid-template-columns: auto 1fr;
  grid-template-rows: auto 1fr;
}

.upLeft {
  grid-row: 1;
  grid-column: 1;
}

.upRight {
  grid-row: 1;
  grid-column: 2;
}

.downLeft {
  grid-row: 2;
  grid-column: 1;
}

.downRight {
  grid-row: 2;
  grid-column: 2;
}

.courseCardsContainerContainer {
  margin: 40px;
}
