.sidebar {
  --background-color: #282828;
  --shadow: inset 0px 1px 0px #222;
  position: absolute;
  left: 0;
  width: 19rem;
  height: 100%;
  background-color: var(--background-color);
  box-shadow: var(--shadow);
  z-index: -1;
  overflow: auto;
}

.title {
  color: #fff;
  font-size: 18pt;
  font-weight: 800;
  margin: 10px;
  justify-content: center;
  flex-direction: column;
}
