.sidebar {
  --background-color: #282828;
  --shadow: inset 0px 1px 0px #222;
  position: absolute;
  left: 0;
  width: 19rem;
  height: 100%;
  background-color: var(--background-color);
  box-shadow: var(--shadow);
  z-index: -1;
  overflow: auto;
}

.title {
  color: #fff;
  font-size: 18pt;
  font-weight: 800;
  margin: 10px;
  justify-content: center;
  flex-direction: column;
}

.module {
  background-color: #9715d3;
  color: #fff;
  width: calc(100% - 2.2rem);
  height: fit-content;
  padding: 1.1rem;
  font-size: 15pt;
  font-weight: bold;
}

.block {
  background-color: #282828;
  color: #fff;
  width: calc(100% - 2.2rem);
  height: fit-content;
  padding: 1.1rem;
  font-size: 15pt;
  font-weight: bold;
}

.selected {
  background-color: #383838;
  color: #fff;
  width: calc(100% - 2.2rem);
  height: fit-content;
  padding: 1.1rem;
  font-size: 15pt;
  font-weight: bold;
}

.completedIcon {
  position: absolute;
  right: 1rem;
  display: inline-block;
  width: 1.5rem;
  height: 1.5rem;
}
