.chatMessage {
  max-width: 300px;
  width: fit-content;
  height: fit-content;

  display: flex;
  flex-direction: column;
  gap: 10px;
  padding: 20px 10px 10px 10px;
}

.chatMessage > p {
  margin: 0;
  font-weight: 500;
}

.chatMessage.other {
  justify-self: start;

  color: black;
  background-color: #ececec;
  border-radius: 0 15px 15px 15px;
}

.chatMessage.mine {
  align-self: flex-end;

  color: white;
  background-color: #9715d3;
  border-radius: 15px 0 15px 15px;
}

.chatFiles {
  list-style: none;
  height: min-content;
  margin: 0;
  padding: 0.5rem;

  display: flex;
  flex-direction: column;
  gap: 0.5rem;

  border-top: 1px solid white;
}

.chatFile {
  color: white;
  font-weight: 400;
}
.chatFile:visited {
  font-weight: 600;
}

.chatFooter {
  width: 100%;
  height: min-content;

  display: flex;
  flex-direction: row;
  justify-content: end;
  align-items: center;
  gap: 5px;
}

.timeBadge {
  font-size: 10pt;
  color: #bbbbbb;
}

.chatMessage.mine .timeBadge {
  color: white;
}

.chatAreaWrapperWrapper {
  overflow: auto;
  width: 100%;
  display: flex;
  justify-content: center;
  flex-grow: 1;
  background-color: white;
}

.chatAreaWrapper {
  max-width: 650px;
  width: 100%;
}

.chatArea {
  background-color: white;

  display: flex;
  flex-direction: column;
  justify-content: end;
  gap: 10px;
  padding: 10px;
}

.line {
  border-top: 2px solid #dbdbdb;
  margin: 15px 0 15px 0;
  width: 100%;
}

.systemMessage {
  display: grid;
  grid-template-columns: 1fr auto 1fr;
  align-items: center;
  gap: 10px;
  padding: 0 10px 0 10px;
}

.systemMessage span {
  font-size: 0.8rem;
}
