.label {
  font-size: 16pt;
  font-weight: bold;
}

.taskContainer {
  box-sizing: border-box;
  width: 100%;

  display: grid;
  grid-template-columns: 30% calc(70% - 0.5rem);
  gap: 0.5rem;
}

.taskContainer > * {
  box-sizing: border-box;
}
