.container {
  padding: 2rem;
  display: flex;
  flex-direction: column;
  gap: 1rem;
  align-items: center;
  max-width: 70%;
}

@media (width < 1280px) {
  .container {
    max-width: 100%;
  }
}

.pageHeader {
  display: flex;
  flex-direction: column;
  align-items: start;
  gap: 1rem;
}

.header {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
  width: 100%;
}

.courseTitle {
  margin: 0;
  text-align: center;
}

.headline {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  width: 100%;
  justify-content: center;
}

.moduleBlockContainer {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  width: 100%;
  justify-content: center;
  align-items: center;
}

.module {
  display: flex;
  flex-direction: row;
  gap: 1rem;
  align-items: center;
}

.label {
  font-weight: 600;
  font-size: 14pt;
}

.moduleTitle {
  font-weight: 200;
  font-size: 14pt;
  margin: 0;
}

.block {
  display: flex;
  flex-direction: row;
  gap: 1rem;
  align-items: center;
}

.blockTitle {
  font-weight: 200;
  font-size: 14pt;
  margin: 0;
}

.task {
  display: flex;
  flex-direction: row;
  gap: 1rem;
  align-items: center;
  justify-content: center;
}

.taskLabel {
  font-weight: 600;
  font-size: 16pt;
}

.taskTitle {
  font-weight: 600;
  font-size: 16pt;
  margin: 0;
}

.studentBlock {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}

.student {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 1rem;
}

.studentName {
  font-weight: 200;
  font-size: 14pt;
}

.badge {
  margin: 1rem;
  padding: 0.3rem 0.7rem;
  text-transform: lowercase;
  background-color: black;
  border-radius: 0.5rem;
  font-weight: 600;
  font-size: 15pt;
  color: white;
  white-space: nowrap;
}

.contents {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 1rem;
  border: 2px solid #dbdbdb;
  border-radius: 10px;
}

.contentsText {
  font-weight: 200;
  font-size: 14pt;
  margin: 0 1rem;
}

.pointsContainer {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}

.points {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 0.5rem;
}

.maxPoints {
  margin: 0;
}

.spinbox {
  border: 2px solid #dbdbdb;
  border-radius: 10px;
  outline: none;
  overflow: hidden;
  display: flex;
  flex-direction: row;
  align-items: center;
}

.spinboxContent {
  -webkit-appearance: textfield;
  -moz-appearance: textfield;
  appearance: textfield;
  font-size: 15pt;
  font-weight: 600;
  color: white;
  border: none;
  outline: none;
  background-color: black;
  margin: 0;
  padding: 0 0px 0 5px;
}

.spinbox:has(.spinboxContent:focus) {
  border: 2px solid white;
}

.spinboxContent::-webkit-inner-spin-button,
.spinboxContent::-webkit-outer-spin-button {
  -webkit-appearance: none;
}

.spinButtons {
  display: grid;
  grid-template-rows: 1fr 1fr;
}

.spinButton {
  display: flex;
  flex-direction: column;
  justify-content: center;
  border: none;
  outline: none;
  background-color: #4a4a4a;
  color: white;
  padding: 0;
  margin: 0;
  line-height: 120%;
}

.spinButtonArrowUp {
  transform: translateY(30%);
}

.spinButtonArrowDown {
  transform: translateY(-30%);
}

.spinButton:hover {
  background-color: #747474;
}

.spinButton:active {
  background-color: #a4a4a4;
}

.footer {
  width: 100%;
  display: flex;
  align-items: end;
  flex-direction: column;
  gap: 1rem;
}

.saveChanges {
  display: flex;
  align-self: flex-end;
}

.line {
  width: 100%;
  margin-top: 30px;
  border-top: 1px solid #dbdbdb;
}
