.taskTitle {
  color: #000;
  font-size: 18pt;
  font-weight: 600;
}

.pointBadge {
  margin: 1rem;
  padding: 0.3rem 0.7rem;
  text-transform: lowercase;
  background-color: black;
  border-radius: 0.5rem;
  font-weight: 600;
  font-size: 15pt;
  color: white;
  white-space: nowrap;
}

.taskBody {
  margin: 0 1rem;
}
.taskContainer {
  display: block;
}

.variant {
  margin: 0.5rem 0;
  display: flex;
}

.variantLabel {
  margin: 0 0.5rem;
  font-size: 16pt;
}
