.container {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  padding: 3rem 5rem;
}

.pageHeaderContainer {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  width: fit-content;
}

.back {
  color: #686868;
  font-size: 12pt;
  font-weight: 200;
}

.title {
  margin: 0rem;
}

.pageBodyContainer {
  display: flex;
  flex-direction: column;
  padding-right: 10%;
}

.buttonsUp {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  gap: 1rem;
}

.buttonsDown {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  gap: 1rem;
  justify-content: end;
}

.moduleContainer {
  margin-bottom: 1rem;
}

.module {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 1.5rem;
  background-color: var(--accent-color);
  color: white;
  border-radius: 10px;
  font-size: 14pt;
}

.block {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 1.5rem;
  background-color: #dbdbdb;
  color: black;
  border-radius: 10px;
  font-size: 14pt;
  margin-top: 1rem;
}

.accordion {
  background-color: transparent;
}

.accordionDetails {
  margin: 0;
  padding: 0;
}

.expandMoreIcon {
  color: white;
  font-size: 32pt;
}
