.operatorsBackground {
  position: fixed;
  z-index: -1;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;

  color: #bbbbbb;
  font-size: x-large;
  font-weight: 400;

  display: flex;
  justify-content: center;
  align-items: center;
}
