.firstBlock{
    width: 100%;
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.inputChanges{
    display: flex;
    flex-direction: column;
}

.inputChangesOneColumn{
    width: 100%;
    display: grid;
    grid-template-columns: 0.3fr 1fr;
    grid-row-gap: 25px;
    padding-bottom: 20px;
}

.inputChangesOneColumn input,
.inputChangesOneColumn textarea{
    width: 95%;
}

.fixedHeightTextArea textarea{
    height: 200px;
    resize: none;
}

.inputChangesTwoColumns{
    width: 100%;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-column-gap: 3vw;
}

.inputChangesBlock{
    display: flex;
    flex-direction: column;
}

.inputChangesBlock input{
    width: 90%;
}

.previewPrompt{
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    text-align: end;
}

.previewPrompt span{
    font-size: 1rem;
    font-weight: 200;
    letter-spacing: 0.1rem;
}

.line{
    margin-top: 20px;
    border-top: 2px solid #DBDBDB;
}

.formLabel{
    font-size: 1.5rem;
}

.formFieldDescription{
    font-size: 1rem;
    font-weight: 200;
    letter-spacing: 0.1rem;
    padding: 10px 0;
}

.toggleChanges{
    margin-top: 30px;
    display: flex;
    flex-direction: column;
}

.toggleChangeWrapper{
    display: flex;
    flex-direction: column;
    padding-bottom: 20px;
}

.checkboxAndTitle{
    display: flex;
    align-items: end;
}

.checkboxAndTitle label{
    padding: 0 0.5rem;
}

.checkboxAndTitle p{
    margin: 0;
    text-align: start;
}

.footerButtons{
    display: flex;
    justify-content: space-between;
    width: 100%;
}
