@import "slick-carousel/slick/slick.css";
@import "slick-carousel/slick/slick-theme.css";

& .slick-list { margin: 0 2rem; & .slick-slide > div { padding: 0 1rem; } }

#root {
  --header-height: 5rem;
  --sidebar-width: 19rem;
  --accent-color: #9715d3;
}

body {
  margin: 0;
  padding: 0;
}

main {
  position: absolute;
  top: var(--header-height);
  left: 0;
  right: 0;
  height: calc(100% - var(--header-height));
}

h2 {
  font-size: 32pt;
  font-weight: bolder;
}
