.customSelect {
  position: relative;
}

.customSelect select {
  appearance: none;
  -webkit-appearance: none;
  width: 100%;
  font-size: 10pt;
  font-weight: 200;
  letter-spacing: 0.04rem;
  color: #494949;
  padding: 0.675em 6em 0.675em 1em;
  background-color: #fafafa;
  border: 1px solid #dbdbdb;
  border-radius: 0.25rem;
  cursor: pointer;
  outline: none;
}

.customSelect::before,
.customSelect::after {
  position: absolute;
  right: 1rem;
  top: 50%;
  pointer-events: none;
  transform: translateY(-50%);
}

.customSelect::after {
  content: "⯆";
  color: #dbdbdb;
}
