.customArrow{
    position: absolute;
    top: 50%;
    width: 3rem;
    height: 3rem;
    border-radius: 50%;
    background-color: #4A4A4A;
    display: flex;
    align-items: center;
    justify-content: center;
}

.left{
    left: -3rem;
}

.left .arrow{
    transform: rotate(-135deg);
    margin-left: 5px;
}

.right{
    right: -3rem;
}

.right .arrow{
    transform: rotate(45deg);
    margin-right: 5px;
}

.arrow{
    display: inline-block;
    width: 15px;
    height: 15px;
    border-top: 4px solid white;
    border-right: 4px solid white;
}
