.accordionsWrapper {
  margin: 30px;
}

.accordion {
  margin-bottom: 30px;
  border-radius: 10px;
  box-shadow: none;
  border: 2px solid #dbdbdb;
}
.accordion:first-of-type,
.accordion:last-of-type {
  border-radius: 10px;
}
.accordion::before {
  display: none;
}

.accordionSummary {
  display: flex;
  flex-direction: row;
  align-content: center;
  margin: 5px 30px;
  padding: 0;
}

.accordionSummary img {
  transform: rotate(90deg);
  scale: 2;
}

.accordionSummary p {
  margin: 0;
  font-size: 1.5rem;
}

.accordionDetails {
  background-color: #dbdbdb60;
  padding: 15px 30px;
  margin: 0 30px 15px 30px;
  border-radius: 10px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  line-height: 1.25;
}

.accordionDetailsWrapper {
  padding-bottom: 10px;
}

.uncheckedTasksCount {
  margin-left: 1rem;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #d9d9d9;
  border-radius: 50%;
  color: white;
  font-size: 1.5rem;
  width: 2rem;
  height: 2rem;
}

.taskName {
  font-size: 1.5rem;
}

.moduleAndBlockName {
  display: flex;
  padding-top: 0.75rem;
  align-items: end;
}

.moduleAndBlockName span {
  line-height: 1rem;
}

.moduleAndBlockName img {
  padding: 0 0.5rem;
}

.checkButton {
  height: 1.5rem;
  padding: 10px 15px;
  background-color: white;
  border: 2px solid #dbdbdb;
  border-radius: 10px;
  text-decoration: none;
  color: #686868;
}
