.button {
  --button-color: var(--accent-color);
  padding: 1rem 2rem;
  border-radius: 1rem;
  background-color: var(--button-color);
  box-shadow: 0px 4px 7px 0px #9715d380;
  font-weight: 600;
  font-size: 16pt;
  color: white;
  border: 0;
  cursor: pointer;
  margin: 1rem 0;
}

.button:disabled {
  box-shadow: none;
  background-color: white;
  border: 3px solid var(--button-color);
  cursor: inherit;
  color: var(--accent-color);
}
